<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>L'IMPICCATO</h1>
    <p>SCEGLIERE UNA MODALITA' DI GIOCO</p>
    </div>
    <table>
        <thead>
            <tr>
                <td>
                    <div>
                        <h3>CATEGORIE DI PAROLE</h3>
                    </div>
                </td>
                <td>
                    <br>
                </td>
                <td>
                    <div>
                        <h3>MODALITA' CASUALE</h3>
                    </div>
                </td>
            </tr>
        </thead>
    </table>
</body>
</html>